body {
    background: hsl(210, 100%, 50%);
    font: normal 15pt arial;
}

header {
    color: hsl(100, 100%, 100%); 
    text-align: center;
}

section {
    background: hsl(000, 100%, 100%);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 60%); 
}

#selAdd {
    width: 180px;
}

footer {
    color: hsl(100, 100%, 100%);
    text-align: center;
    font-style: italic;    
}